<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
<input id="msg" type="text"></input>
<button id="send">
    Send
</button><BR>
<textarea id="log" cols=100 rows=50>
    </textarea>
<!-- File upload form -->
<form action="http://localhost:18080/upload_file" method="post" enctype="multipart/form-data">
    <label for="file">Select a file:</label>
    <input type="file" id="file" name="InputFile" accept="*/*">
    <button type="submit">Upload</button>
</form>
<!-- JSON upload form -->
<form id="json-form" action="http://localhost:18080/upload_json" method="post">
    <label for="a">a:</label>
    <input type="text" id="a" name="a">
    <label for="b">b:</label>
    <input type="text" id="b" name="b">
    <button type="submit">Upload JSON</button>
</form>
<div id="notification"></div>
<!-- End of JSON upload form -->
<script>
    // Submit the JSON data using jQuery
    $('#json-form').submit(function(e) {
        e.preventDefault();
        var a = $('#a').val();
        var b = $('#b').val();
        var jsonData = JSON.stringify({ "a": parseInt(a), "b": parseInt(b) });

        $.post("/upload_json", jsonData, function(data) {
            $('#notification').text(data); // Display the success message
        });
    });

    var sock = new WebSocket("ws://{{servername}}:18080/ws");

    sock.onopen = ()=>{
        console.log('open')
    }
    sock.onerror = (e)=>{
        console.log('error',e)
    }
    sock.onclose = (e)=>{
        console.log('close', e)
    }
    sock.onmessage = (e)=>{
        $("#log").val(
            e.data +"\n" + $("#log").val());
    }
    $("#msg").keypress(function(e){
        if (e.which == 13)
        {
            sock.send($("#msg").val());
            $("#msg").val("");
        }
    });
    $("#send").click(()=>{
        sock.send($("#msg").val());
        $("#msg").val("");
    });
</script>
</body>
</html>
